body {
  background-color: #f7f6f5 !important;
  font-family: "Lato", sans-serif !important;
}

h5 {
  font-size: 18px;
}

.container {
  max-width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}

.home-landing-img {
  background: url(https://www.hellomagazine.com/imagenes/healthandbeauty/health-and-fitness/2019040971870/sweat-trainer-kelsey-wells-fitness-tips-new-mums/0-350-475/Kelsey-Wells-t.jpg) no-repeat center center;
  background-size: cover;
  height: 640px;
}

.home-header {
  position: relative;
  top: 295px;
  text-align: center;
}

.home-header h1 {
  color: white;
  font-weight: 600;
  font-size: 70px;
  padding: 15px;
  margin-top: 0;
  margin-bottom: 80px;
  text-transform: uppercase;
}

.sub-header {
  font-family: 'Heebo', sans-serif;
  font-family: 'Yantramanav', sans-serif;
  font-size: 29px !important;
  text-decoration: underline;
  letter-spacing: 2px;
}

.main-header {
  color: white;
  font-weight: bold;
  font-size: 5vw;
  padding: 15px;
}

.lead {
  font-size: 25px !important;
}

.active {
  background-color: white;
  color: black;
}

.content {
  position: fixed;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 100%;
  padding: 20px;
}


.overlay-desc {
  background: rgba(0, 0, 0, 0);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.module {
  animation: move 2s;
  -webkit-animation: move 2s;
}

@keyframes move {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

@-webkit-keyframes move {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

/*************************** Responsive Image Background in Home Page **********************/
.home-img-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  pointer-events: none;
  overflow: hidden;
}

.home-img-wrapper img {
  width: 100vw;
  height: 40.25vw;
  min-height: 100vh;
  min-width: 87.77vh;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.home-margin {
  margin-top: 26rem;
}

.card-img {
  height: 640px;
  max-height: 800px;
  border-radius: 5px;
  box-shadow: 1px 0px 1px 0px #b3b3b3;
}

/*************************** Exercise Section **********************/
.exercise-img {
  height: 340px;
  width: 470px;
  border-radius: 5px;
  box-shadow: 1px 0px 1px 0px #b3b3b3;
}

/*************************** End of Exercise Section **********************/

.main-img {
  opacity: 70%;
  max-height: 740px;
}


.start-button {
  background-color: #f7f6f5;
  color: black;
  border: 1px solid #f7f6f5;
  justify-content: center;
  padding-left: 45px;
  padding-right: 45px;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-top: 14px;
  padding-bottom: 14px;
  font-size: 16.5px;
  letter-spacing: 2px;
  border-radius: 5px;
  font-weight: bold;
}

.start-button:hover {
  box-shadow: 6px 3px 12px 4px #f7f6f5;
  color: white;
  background: black;
  border: 1px solid #f7f6f5;
  text-decoration: none;
  font-weight: bold;

}

.jumbotron-container {
  max-height: 10rem !important;
}


.workout-jumbo {
  position: relative;
  text-align: center;
  color: white;
}

.workout-text {
  font-family: "josefin sans";
  font-size: 9vw;
  font-weight: bold;
}


.recipe-form-margin {
  margin-bottom: 2rem;
}


.workout-link {
  text-decoration: none;
  font-size: 40px;
  letter-spacing: 4px;
  font-weight: bold;
}

.workout-link:hover {
  color: rgb(183, 180, 180);
  text-decoration: #00adad;
  transition: .5s ease;
  backface-visibility: hidden;
}


.workout-all-margin {
  margin-top: 3rem !important;
}


.card-margin-all {
  margin-top: 3rem;
}

.member-container {
  margin-top: 50px;
}

.shop-container {
  margin-top: 50px;
}

.recipe-container {
  margin-top: 50px;
}


.member-img {
  margin-top: 8px;
  width: 540px;
  border-radius: 4px;
  height: 350px;
  transition: .5s ease;
  backface-visibility: hidden;
}

/*************************** Recipe Section **********************/
.recipe-section img {
width: 230px;
height: 240px;
border-radius: 4px;
}

.recipe-section img:hover {
  opacity: 0.4;
  transition: .8s ease;
  backface-visibility: hidden;
}

/*************************** End of Recipe Section **********************/

/*************************** Shop Section **********************/
.shop-img-container h2 {
  font-weight: bold;
  font-size: 5vw !important;
}
.shop-container img {
  margin-top: 8px;
  width: 540px;
  border-radius: 4px;
  height: 350px;
  transition: .5s ease;
  backface-visibility: hidden;
}
.shop-container h1 {
  font-family: 'Heebo', sans-serif;
  font-family: 'Yantramanav', sans-serif;
  font-size: 29px !important;
  text-decoration: underline;
  letter-spacing: 2px;
}

.shop-container h2 {
  margin-top: 8px;
  vertical-align: right;
  width: 100%;
  height: 13rem;
  transition: .5s ease;
  backface-visibility: hidden;
}
/*************************** End of Shop Section **********************/

.card-img-overlay h1 {
  color: white;
  font-weight: bold;
  font-size: 5vw;
  padding: 15px;
}

/*************************** Home Section **********************/
.benefit-container h2 {
  margin-top: 8px;
  vertical-align: right;
  width: 100%;
  height: 13rem;
  transition: .5s ease;
  backface-visibility: hidden;
}
/*************************** End of Home Section **********************/


/**************************** MEDIA-QUERY-IPHONE X ***************************/
@media only screen and (min-device-width: 375px) and (max-device-height: 812px) and (-webkit-device-pixel-ratio: 3) {
  .card {
    margin-bottom: 20px;
  }

  .card img {
    height: 23rem;
  }

  .card-img {
    height: 380px;
  }

  .home-landing-img {
    background: url(https://www.hellomagazine.com/imagenes/healthandbeauty/health-and-fitness/2019040971870/sweat-trainer-kelsey-wells-fitness-tips-new-mums/0-350-475/Kelsey-Wells-t.jpg) no-repeat center center;
    background-size: cover;
    height: 380px;
  }

  .home-header {
    position: relative;
    top: 180px;

  }
  
  .home-header h1 {
    font-size: 30px;
  }

  .recipe-header {
    font-weight: bold;
    font-size: 7vw !important;
  }

  .member-img {
    height: 238px!important;
  }

  .exercise-container h1 {
    font-weight: bold;
    font-size: 6vw !important;
  }

  .sub-header {
    font-size: 5.6vw !important;
  }

  .lead {
    font-size: 5vw !important;
  }

  .benefit-container img {
    height: 268px;
    width: 310px!important;
    margin-top: 57px;
  }

  .shop-container img {
    height: 268px;
    width: 310px!important;
    margin-top: 57px;
  }

  .shop-container h1 {
  font-size: 20px;
  }

  .shop-container h2 {
    font-size: 20px;
  }

  .exercise-img {
    height: 225px;
    width: 300px;
  }

  .recipe-section h3 {
   margin-bottom: 36px;
    }
}

@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px)
and (-webkit-min-device-pixel-ratio: 2) { 
  .slider-container img {
    height: 238px!important;
    width: 200px!important;
  }

  .recipe-section img {
    height: 238px;
    width: 226px!important;
    }
    
}