body {
  background-color: #f7f7f7 !important;
  font-family: "Lato", sans-serif !important;
}

/*************************** NAVBAR **********************/
/* 
@media (min-width: 992px) {
  #mainNav {
    padding-top: 10px;
    padding-bottom: 10px;
    transition: padding-top 0.3s, padding-bottom 0.3s;
    border: none;
    background-color: transparent;
  }
} */

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: black;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none !important;
}

li a:hover {
  background-color: white;
  color: black;
}

.active {
  background-color: white;
  color: black;
}

.content {
  position: fixed;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 100%;
  padding: 20px;
}

.margin-bottom {
  margin-bottom: 15rem;
}

.overlay-desc {
  background: rgba(0, 0, 0, 0);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/*************************** Responsive Image Background in Home Page **********************/
.home-img-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  pointer-events: none;
  overflow: hidden;
}

.home-img-wrapper img {
  width: 100vw;
  height: 40.25vw;
  min-height: 100vh;
  min-width: 87.77vh;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.brio-text {
    color: black;
    font-family: "Lato", sans-serif !important;
    font-size: 4.8rem;
    text-align: center;
    font-weight: bold;
}

.brio-headline {
    display: flex;
    flex-direction: column;
}

.home-margin {
    margin-top: 26rem;
}
/* 
.workout-margin {
    margin-top: 4.5rem;
} */
.card-img {
    max-height: 530px;
}

.start-button {
    background-color: black;
    color: white;
    border: 1px solid black;
    justify-content: center;
    padding-left: 55px;
    padding-right: 55px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-top: 17px;
    padding-bottom: 17px;
}

.jumbotron-container {
    max-height: 10rem!important;
}
.start-button:hover {
  box-shadow: 1px 3px 12px 0px #b3b3b3;
  color: black;
  background: white;
}

.sign-up-button {
    background-color: black;
    color: white;
    border: 1px solid black;
    justify-content: center;
    padding-left: 25px;
    padding-right: 25px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-top: 12px;
    padding-bottom: 12px;
}

.sign-up-button:hover {
  box-shadow: 1px 3px 12px 0px #b3b3b3;
  color: black;
  background: white;
}
/* Workout Jumbo */

.workout-jumbo {
    position: relative;
    text-align: center;
    color: white;
}

.workout-text {
    font-family: "josefin sans";
    font-size: 9vw;
    font-weight: bold;
}

.card-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

/* Ingredient Decoration */

.ingredient-decor {
    text-decoration: none;
    border: none;
}

.individual-recipe-margin {
    margin-top: 10rem;
}


/* Recipe Form Marin */

.recipe-form-margin {
    margin-bottom: 2rem;
}

.ingredient-card {
    background: rgb(62, 70, 79) !important;
}

/* .workouts-margin {
    margin-top: 14rem;
} */

.workout-delete-margin {
    margin-top: 3rem;
    margin-right: 2rem;
}

.workout-link {
    color: white;
    text-decoration: none;
}

.workout-link:hover {
    color: rgb(183, 180, 180);
    text-decoration: #00adad;
    font-size: 1.9rem;
}


.card-flex {
    display: flex !important;
    flex-wrap: wrap !important;
    justify-content: space-around !important;
}


.workout-all-margin {
    margin-top: 3rem !important;
}


.card-margin-all {
    margin-top: 3rem;
}